<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Binance.Net" version="8.4.3" targetFramework="net48" />
  <package id="CryptoExchange.Net" version="5.4.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1661.34" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="WebView2.Runtime.X64" version="114.0.1823.67" targetFramework="net48" />
</packages>